<section>

  <section class="main-slider">
    <div class="flex">
      <div class="slider w-[70%]">
        <owl-carousel-o [options]="customMainSlider">
          <ng-template carouselSlide>
            <img src="/images/slider-image-1.jpeg" class="h-[300px] w-[100%]" alt="">
          </ng-template>
          <ng-template carouselSlide>
            <img src="/images/slider-image-2.jpeg" class="h-[300px] w-[100%]" alt="">
          </ng-template>
          <ng-template carouselSlide>
            <img src="/images/slider-image-3.jpeg" class="h-[300px] w-[100%]" alt="">
          </ng-template>

        </owl-carousel-o>
      </div>
      <div class="imgs w-[30%]">
        <img src="/images/grocery-banner.png" class="w-full h-[150px]" alt="">
        <img src="/images/grocery-banner-2.jpeg" class="w-full h-[150px]" alt="">

      </div>
    </div>
  </section>


  <section class="cat-slider px-10 py-5">
    <h2 class="text-3xl mb-3 text-center italic">Our Categories</h2>
    <owl-carousel-o [options]="customOptions">

      @for (category of categoriesList; track $index) {
      <ng-template carouselSlide>
        <div>
          <img [src]="category.image" class="h-[280px]" alt="">
          <h3 class="text-green-700 text-2xl text-center mt-5">{{category.name}}</h3>
        </div>
      </ng-template>
      }

    </owl-carousel-o>
  </section>

  <section class="products py-5">
    <h2 class="text-3xl mb-3 text-center italic">Popular Products</h2>

    <input type="text" [(ngModel)]="searchTerm" placeholder="Search products..."
      class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-[50%] mx-auto my-5 p-2.5">

    <div class="grid px-10 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-10">
      @for (product of productList.slice(0, 12) | search: searchTerm; track $index) {
      <div class="card w-full hover:border-green-700 rounded-2xl duration-200 border border-gray-100 shadow-lg">
        <a [routerLink]="['/details', product.id]">
          <div class="card-img">
            <img [src]="product.imageCover" alt="">
          </div>
          <div class="card-body text-center my-5">
            <a>

              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{product.title | titlecase}}</h5>
            </a>
            <p class="font-normal text-gray-700 line-clamp-3">{{product.description}}</p>
          </div>
        </a>
        <div class="flex justify-around">
          <span>{{product.price | currency: 'EGP' }} </span>

          <div class="flex mb-5 items-center">
            <i class="fa-solid fa-star text-yellow-500"></i>
            <span>{{product.ratingsAverage}}</span>
          </div>
          <div>
            <!-- Toggle heart color based on isWishlisted -->
            <i (click)="toggleWishlist(product)"
              [class]="{'text-red-500': product.isWishlisted, 'text-black': !product.isWishlisted}"
               class="fa-solid fa-heart cursor-pointer"></i>
          </div>
        </div>
        <button (click)="addToCart(product.id)"
          class="bg-green-600 hover:bg-green-900 text-white w-[80%] mx-auto py-2 mb-2 block rounded-md">
          Add To Cart <i class="fa fa-shopping-cart"></i>
        </button>

      </div>

      }
    </div>
  </section>
</section>