<nav class="bg-green-700">
  <div class="flex items-center justify-between p-4">
    <a routerLink="/home" class="block sm:w-[25%] md:w-auto h-fit">
      <img src="/images/freshcart-logo.svg" class="w-full" alt="freshcart logo">
    </a>

    <div class="hidden md:flex md:items-center md:gap-4">
      @if (isLogin) {
      <ul class="flex">
        <li>
          <a class="block py-2 px-3 text-white text-sm rounded-sm" aria-current="page" routerLink="/home"
            routerLinkActive="active bg-green-500">Home</a>
        </li>

        <li>
          <a class="block py-2 px-3 text-white text-sm rounded-sm" aria-current="page" routerLink="/allorders"
            routerLinkActive="active bg-green-500">Orders</a>
        </li>
        <li>
          <a class="block py-2 px-3 text-white text-sm rounded-sm" aria-current="page" routerLink="/brands"
            routerLinkActive="active bg-green-500">Brands</a>
        </li>
        <li>
          <a class="block py-2 px-3 text-white text-sm rounded-sm" aria-current="page" routerLink="/categories"
            routerLinkActive="active bg-green-500">Categories</a>
        </li>
        <li>
          <a class="block py-2 px-3 text-white text-sm rounded-sm" aria-current="page" routerLink="/products"
            routerLinkActive="active bg-green-500">Products</a>
        </li>
      </ul>
      }
      <ul class="flex">
        @if (isLogin == false) {
        <li>
          <a class="block py-2 px-3 text-white rounded-sm" aria-current="page" routerLink="/login"
            routerLinkActive="active bg-green-500">Login</a>
        </li>
        <li>
          <a class="block py-2 px-3 text-white rounded-sm" aria-current="page" routerLink="/register"
            routerLinkActive="active bg-green-500">Register</a>
        </li>
        }

        @else {
        <li>
          <a class="block py-2 px-3 text-white rounded-sm text-sm" aria-current="page" routerLink="/wish-list"
            routerLinkActive="active bg-green-500">
            <i class="fa-solid fa-heart text-sm text-red-500">
              <span class="text-white text-sm mx-1">wish</span>
              <span class="text-sm">{{wishListCount}}</span>

            </i>
          </a>
        </li>
        <li>
          <a class="block py-2 px-3 text-sm text-white rounded-sm" aria-current="page" routerLink="/cart"
            routerLinkActive="active bg-green-500">
            <i class="fa fa-shopping-cart block text-sm relative">
              <div
                class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-green-500 border-2 border-l rounded-full bottom-3 left-3">
                {{cartCount}}</div>

            </i>

          </a>
        </li>
        <li>
          <a class="block py-2 px-3 cursor-pointer rounded-lg text-sm text-white hover:text-red-700 duration-300"
            aria-current="page" (click)="logout()">Logout</a>
        </li>
        }
      </ul>
    </div>

    <button class="block text-white text-lg hover:text-black md:hidden" (click)="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>

  <div class="md:hidden" [class.hidden]="!isMenuOpen">
    <div class="px-4 pb-4">
      @if (isLogin) {
      <ul class="flex flex-col gap-2 mb-4">
        <li>
          <a class="block py-2 px-3 text-white rounded-sm" aria-current="page" routerLink="/home"
            routerLinkActive="active bg-green-500">Home</a>
        </li>

        <li>
          <a class="block py-2 px-3 text-white rounded-sm" aria-current="page" routerLink="/allorders"
            routerLinkActive="active bg-green-500">Orders</a>
        </li>
        <li>
          <a class="block py-2 px-3 text-white rounded-sm" aria-current="page" routerLink="/brands"
            routerLinkActive="active bg-green-500">Brands</a>
        </li>
        <li>
          <a class="block py-2 px-3 text-white rounded-sm" aria-current="page" routerLink="/categories"
            routerLinkActive="active bg-green-500">Categories</a>
        </li>
        <li>
          <a class="block py-2 px-3 text-white rounded-sm" aria-current="page" routerLink="/products"
            routerLinkActive="active bg-green-500">Products</a>
        </li>

      </ul>
      }

      <ul class="flex flex-col gap-2">
        @if (isLogin == false) {
        <li>
          <a class="block py-2 px-3 text-white rounded-sm" aria-current="page" routerLink="/login"
            routerLinkActive="active bg-green-500">Login</a>
        </li>
        <li>
          <a class="block py-2 px-3 text-white rounded-sm" aria-current="page" routerLink="/register"
            routerLinkActive="active bg-green-500">Register</a>
        </li>
        }
        @else {
        <li>
          <a class="block py-2 px-3 text-white rounded-sm" aria-current="page" routerLink="/wish-list"
            routerLinkActive="active bg-green-500">
            <i class="fa-solid fa-heart text-red-500">
              <span class="text-black mx-1">wish</span>
              <span>{{wishListCount}}</span>

            </i>
          </a>
        </li>
        <li>
          <a class="block py-2 px-3 text-white rounded-sm" aria-current="page" routerLink="/cart">
            <i class="fa fa-shopping-cart block text-lg relative">
              <div
                class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-green-500 border-2 border-l rounded-full bottom-3 left-3">
                {{cartCount}}</div>

            </i>

          </a>
        </li>
        <li>
          <a class="block py-2 px-3 cursor-pointer text-lg rounded-lg text-white hover:text-red-700 duration-300"
            aria-current="page" (click)="logout()">Logout</a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>