<section class="container p-10">
    <h2 class="text-4xl font-bold text-green-800 text-center">All Brands</h2>
    <div class="grid gap-4 py-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
        @for (brand of allBrands; track $index) {
            <div class="cursor-pointer shadow-md hover:shadow-green-600 duration-300">
                <img [src]="brand.image" alt="">
                <div>
                    <p class="text-center text-xl text-green-700 pb-4">
                        {{brand.name | titlecase }}
                    </p>
                </div>
            </div>
        }
    </div>
</section>