<section class="w-[80%] mx-auto">
  <!-- Forget Password Form -->

  @if (steps == 1) {
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
    <h2 class="text-xl font-bold mb-4 my-3">Type Your Email to reset Password</h2>

    @if (forgotPasswordErrorMessage != '') {
    <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50"
      role="alert">
      <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
      </svg>
      <span class="sr-only">Danger</span>
      <div>
        <span class="font-medium">Danger alert!</span> {{forgotPasswordErrorMessage}}
      </div>
    </div>
    }

    <div class="mb-4">
      <label class="block mb-2 text-sm font-medium text-gray-900" for="email">
        Email
      </label>
      <input
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
        formControlName="email" id="email" type="email" placeholder="Enter your email">
    </div>
    @if (forgotPasswordForm.get('email')?.errors && forgotPasswordForm.get('email')?.touched) {
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
      <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
      </svg>
      <span class="sr-only">Danger</span>
      <div>
        <span class="font-medium">Ensure that these requirements are met:</span>
        <ul class="mt-1.5 list-disc list-inside">
          @if (forgotPasswordForm.get('email')?.hasError('required')) {
          <li>Email is Required</li>

          }
          @if (forgotPasswordForm.get('email')?.hasError('email')) {
          <li>Enter Vaild Email</li>

          }
        </ul>
      </div>
    </div>
    }
    <div class="flex items-center justify-between">
      <button class="main-btn" type="submit">
        Submit
      </button>
    </div>
  </form>
  }

  @if (steps == 2) {
  <!-- Reset Code Form -->
  <form [formGroup]="verifyResetCodeForm" (ngSubmit)="verifyResetCode()">
    <h2 class="text-xl font-bold mb-4">Enter Code sent to your email</h2>

    @if (verifyResetCodeErrorMessage != '') {
    <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50"
      role="alert">
      <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
      </svg>
      <span class="sr-only">Danger</span>
      <div>
        <span class="font-medium">Danger alert!</span> {{verifyResetCodeErrorMessage}}
      </div>
    </div>
    }

    <div class="mb-4">
      <label class="block mb-2 text-sm font-medium text-gray-900" for="resetCode">
        Reset Code
      </label>
      <input
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
        id="resetCode" formControlName="resetCode" type="text" placeholder="Enter your reset code">
    </div>
    @if (verifyResetCodeForm.get('resetCode')?.errors && verifyResetCodeForm.get('resetCode')?.touched) {
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
      <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
      </svg>
      <span class="sr-only">Danger</span>
      <div>
        <span class="font-medium">Ensure that these requirements are met:</span>
        <ul class="mt-1.5 list-disc list-inside">
          @if (verifyResetCodeForm.get('resetCode')?.hasError('required')) {
          <li>Reset Code is Required</li>

          }

        </ul>
      </div>
    </div>
    }
    <div class="flex items-center justify-between">
      <button class="main-btn" type="submit">
        Submit
      </button>
    </div>
  </form>
  }

  @if (steps == 3) {
  <!-- Email and Password Form -->
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <h2 class="text-xl font-bold mb-4">Type Your new Password</h2>

    @if (resetPasswordErrorMessage != '') {
    <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50"
      role="alert">
      <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
      </svg>
      <span class="sr-only">Danger</span>
      <div>
        <span class="font-medium">Danger alert!</span> {{resetPasswordErrorMessage}}
      </div>
    </div>
    }

    <div class="mb-4">
      <label class="block mb-2 text-sm font-medium text-gray-900" for="email">
        Email
      </label>
      <input readonly formControlName="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
        id="email" type="email" placeholder="Enter your email">
    </div>
    @if (resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched) {
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
      <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
      </svg>
      <span class="sr-only">Danger</span>
      <div>
        <span class="font-medium">Ensure that these requirements are met:</span>
        <ul class="mt-1.5 list-disc list-inside">
          @if (resetPasswordForm.get('email')?.hasError('required')) {
          <li>Email is Required</li>

          }

          @if (resetPasswordForm.get('email')?.hasError('email')) {
          <li>Enter Vaild Email</li>

          }

        </ul>
      </div>
    </div>
    }
    <div class="mb-2">
      <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
      <input formControlName="newPassword" type="password" id="newPassword"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5">

      @if (resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched) {
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <span class="font-medium">Ensure that these requirements are met:</span>
          <ul class="mt-1.5 list-disc list-inside">
            @if (resetPasswordForm.get('newPassword')?.hasError('required')) {
            <li>Password is Required</li>

            }
            @if (resetPasswordForm.get('newPassword')?.hasError('minlength')) {
            <li>min length is 6 chars</li>

            }
          </ul>
        </div>
      </div>
      }
    </div>

    <div class="flex items-center justify-between">
      <button class="main-btn" type="submit">
        Submit
      </button>
    </div>
  </form>
  }
</section>